
html,body{
  margin: 0;
  padding: 0;
  background-color: #2f4f30;
  
}

.titulo{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.botones,
.tablero{
  background-color: #2f4f30;
}

.carta{
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#juagardor-cartas,
#computador-cartas{
  height:240px;
}